<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sample_Salt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E811A6DD1C71B67F0004EFBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E811A6F41C71B6800004EFBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E811A6FF1C71B6800004EFBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
